# Dependencies
/node_modules
/client/node_modules

# Environment variables
.env

# Build output
/client/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SQLite Database
/prisma/dev.db
/prisma/dev.db-journal
